.page-register {
  .register-box {
    width: 430px;
    height: 360px;
    margin: 0 auto;
    margin-top: calc((50vh - 165px) * 0.618);
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    overflow: hidden;
  }

  .register-form {
    padding: 15px;

    .reg-label {
      min-width: 80px;
    }
  }
}
