.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}
