extends layout
block headPartialSection
  link(rel='stylesheet', href='/stylesheets/style.css')
block content
  input(type="hidden",value=nick,id="username")
  ul.pages
    li(class="char page")
      .chatArea
        ul.messages
      input.inputMessage(placeholder="Type here...")
  script(src="/vendor/jquery/jquery-1.11.2.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/index.js")

