extends layout
block headPartialSection
  link(rel='stylesheet', href='/stylesheets/style.css')
block content
  #bg
    div(class="form-control")
      input(type="password",id="lock_password")
      button(type="button",onclick="unlock();") Unlock
  input(type="hidden",value=nick,id="username")
  ul.pages
    li(class="char page")
      .chatArea
        ul.messages
      input.inputMessage(placeholder="Type here...")
  script(src="/vendor/jquery/jquery-1.11.2.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/browser-tab-status.js")
  script(src="/javascripts/browser-tab-close.js")
  script(src="/javascripts/mousetrap.min.js")
  script(src="/javascripts/mousetrap-global-bind.min.js")
  script(src="/javascripts/index.js")

