extends layout

block content
  ul.pages
    li(class="char page")
      .chatArea
        ul.messages
      input.inputMessage(placeholder="Type here...")
    li(class="login page")
      .form
        h3.title What's your nickname?
        input.usernameInput(type="text",maxlength="14")
  script(src="/vendor/jquery/jquery-1.11.2.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/index.js")

