extends layout
block headPartialSection
  link(rel='stylesheet', href='/stylesheets/style.css')
block content
  //消息体界面
  .msg-panel(class="hide",id="msgTemplate")
    .msg-heading
      span(class="heading label-danger pull-left")
        i(class="glyphicon glyphicon-info-sign")
        span.msg-title 系统消息
      span(class="heading label-default pull-left")
        i(class="glyphicon glyphicon-time")
        span.msg-time 00:00:00
    .msg-body content
  // 锁屏界面
  #bg
    div(class="form-control")
      input(type="password",id="lock_password")
      button(type="button",onclick="unlock();") Unlock
  // 标准界面
  .container
    div.row
      div(class="col-xs-9")
        .panel(class="panel-danger")
          .panel-heading Chat room
          .panel-body(class="chat-content")
            ul.pages
              li(class="char page")
                .chatArea
                  ul.messages

        .panel(class="panel-danger")
          .panel-body
            .input-group
              span.input-group-btn
                button.btn(class="btn-info",type="button")
                  i(class="glyphicon glyphicon-fire")
              input(class="form-control inputMessage",placeholder="Type here...")
              span.input-group-btn
                button.btn(class="btn-warning",type="button") Enter
                  i(class="glyphicon glyphicon-send")

      div(class="col-xs-3")
        .panel(class="panel-danger")
          .panel-heading User Settings
          .panel-body
            |User Nick: <hr />
            div(class="text-center")
              button(class="btn btn-danger btn-sm",id="clear_screen") Clear


        .panel(class="panel-danger")
          .panel-heading Online Users
          .panel-body
            ul.nav(id="ul_userList")

  input(type="hidden",value=nick,id="username")
  script(src="/vendor/jquery/jquery-1.11.2.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/vendor/browser-tab-status.js")
  script(src="/javascripts/vendor/browser-tab-close.js")
  script(src="/javascripts/vendor/mousetrap.min.js")
  script(src="/javascripts/vendor/mousetrap-global-bind.min.js")
  script(src="/javascripts/index.js")

