<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@model.title</title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    @html.block('header')
  </head>
  <body>
    @html.block('content')
    <script src="/plugins/jquery-2.1.4.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    @html.block('footer')
  </body>
</html>