doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    block headPartialSection
  body
    block content
    script(src="/vendor/jquery/jquery-1.11.2.js")
    script(src="/vendor/bootstrap/js/bootstrap.js")
    block footPartialSection