//
   Created by jh3r on 12/25/2014.
extends layout

block headPartialSection
   link(rel='stylesheet', href='/stylesheets/login.css')
block content
   .panel(class="panel-success")
      .panel-heading Login
      .panel-body
         form

