<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login -- Flying Chat</title>
    <style>
        .login-box{
            width: 600px;
            margin: 0 auto;
            border: 1px solid red;
        }
        @media screen and(max-width:600px) {
            .login-box{
                width: 100%;
                margin: 0 auto;
                border: 1px solid red;
            }
        }
    </style>
</head>
<body>
    <div class="login-box">
        <form action="">
            <input type="text"/>
            <br/>
            <input type="password"/>
        </form>
    </div>
</body>
</html>