.bg-div{
    background-color: #b2dba1;
    background-image: url(../images/bg1.jpg);
    position: fixed;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
}
.login-container{
    margin-top:20%;
}
.login-container .input-group{
    margin-bottom: 10px;
}