/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 120%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.messageBody{
  background: #9AD217;
  max-width: 50%;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 10px;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  /*border: 10px solid #000;*/
  /*bottom: 0;*/
  /*height: 60px;*/
  /*left: 0;*/
  /*outline: none;*/
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  /*position: absolute;*/
  /*right: 0;*/
  /*width: 100%;*/
}

#bg{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 1;
  opacity:1;
  filter: alpha(opacity=100);
  text-align:center;
}


#clear_screen{
  width:100px;
}

.message{
  margin-bottom: 5px;
}
*{
  outline: none;
}

.myself .messageBody, .myself .username{
  float: right;
}

.chat-body{
  margin-top: 20px;
}

.chat-content{
  padding-left:0;
  padding-right:0;
  height:600px;
  overflow-y: auto;
}

/*Msg-Panel style*/
.msg-panel{
  margin: 10px 15px 20px 15px;
  border:1px solid orange;
  width: 50%;
  border-radius: 4px;
  font-size: 12px;
  background: #f5f5f5;
}
.msg-panel .msg-heading{
  margin-top: -15px;
  color: white;
  z-index: 100;
}

.msg-panel .heading{
  margin-left: 5px;
  border-radius: 4px;
  padding: 2px 5px 0 5px;
}

.msg-panel.pull-right .heading{
  margin-right: 5px;
}

.msg-panel .msg-time,.msg-panel .msg-title{
  padding: 2px 5px 0 5px;
}
.msg-panel .msg-body{
  font-family: 微软雅黑;
  clear: both;
  font-size:14px;
  padding:5px 10px;
  word-break: break-all;
}

/*表情包，样式*/
#div_emoticons span{
  cursor: pointer;
}
#div_emoticons span:hover{
  border: 1px solid gray;
}