.page-main {
  .chat-main {
    width: 980px;
    height: 650px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: calc((50vh - 325px) * 0.618);
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    overflow: hidden;
  }

  .chat-main-header {
    position: relative;
    height: 55px;
    padding: 10px;
    background: linear-gradient(to right, #2c9ae9, #1086f1, #3e57c9, #3448a1);

    >div {
      line-height: 35px;
    }

    .user-avatar {
      width: 200px;
    }

    .center-ul {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      padding: 0;

      li {
        position: relative;
        display: inline-block;
        width: 60px;
        list-style: none;
        line-height: 55px;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        opacity: 0.8;

        &:hover {
          opacity: 0.9;
        }

        &.active {
          opacity: 1;
        }

        &.active::after {
          content: '';
          position: absolute;
          bottom: 0;
          display: block;
          left: 25px;
          border: 5px solid transparent;
          border-bottom-color: #fff;
        }
      }
    }
  }

  .chat-main-body {
    position: relative;
    height: 595px;

    .left-panel {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 230px;
      background: #fafafa;
      border-right: 1px solid #eaeaea;
    }

    .right-panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 230px;
      background: #fff;
    }
  }
}
