.app-navbar {
  width: 350px;
  border-left: 1px solid #ddd;
  position: fixed;
  top: 0;
  bottom: 0;
}

.app-navbar-left {
  left: 0;
}

.app-navbar-right {
  right: 0;
}

.layui-layer .layui-layer-max {
  display: none !important;
}

.layui-layer .layui-layer-maxmin {
  display: inline-block !important;
}

.main-page .tab-content {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.contact-panel {
  height: 60px;
  border-top: 1px solid gray;
  padding: 5px;
}

.contact-panel .contact-photo {
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid red;
}

.contact-panel .contact-info {
  float: left;
  margin-left: 10px;
}

.contact-panel .contact-info .contact-name {
  font-size: 20px;
}

.contact-panel:hover {
  background: yellowgreen;
  cursor: pointer;
}
.chat-page{
  padding: 5px;
  background: #D2D5DF;
}
.chat-page .chat-container {
  height: 415px;
  overflow-y: auto;
}

.chat-page .chat-toolbar .chat-toolbar-icons {
  height: 24px;
  background: lightgray;
}
.chat-page .chat-toolbar .chat-toolbar-icons a{
  display: inline-block;
  margin-left: 10px;
  line-height: 20px;
  margin-top: 2px;
  width: 20px;
  font-size: 20px;
  height: 20px;
  text-align: center;
}
.chat-page .chat-toolbar .chat-toolbar-icons a:hover{
    border: 1px solid red;
}

.chat-page .chat-toolbar .chat-toolbar-input {
  margin-bottom: 5px;
}

.chat-page .chat-toolbar .chat-toolbar-btn {
  margin-right: 30px;
}

.chat-page .chat-toolbar .dropdown-menu {
  min-width: 100px;
}