//
   Created by jh3r on 12/25/2014.
extends ../layout

block headPartialSection
   link(rel='stylesheet', href='/stylesheets/login.css')
block content
   .container
      div(class="col-xs-4 col-xs-offset-4 login-container")
         .panel(class="panel-success")
            .panel-heading
               b Sign in
            .panel-body
               form(method="post")
                  .input-group
                     span.input-group-addon &nbsp;&nbsp;&nbsp;Account
                     input.form-control(type="text",name="account",required="required",placeholder="Type your account.",value=loginName)
                  .input-group
                     span.input-group-addon Password
                     input.form-control(type="password",name="password",required="required",placeholder="Type your password.")
                  .form-group(class="text-center")
                     if errmsg
                        span(style="color:red")=errmsg
                     button(class="btn btn-success col-xs-12") Sign in

block footPartialSection
   script(src="/javascripts/vendor/jquery.backstretch.min.js")
   script.
      $.backstretch([
         '/images/bg0.jpg',
         '/images/bg1.jpg',
         '/images/bg2.jpg',
         '/images/bg3.jpg'
      ], {
         fade: 2000,
         duration: 5000
      });