<div class="layout">
  <header class="layout-header" style="-webkit-app-region:drag">
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <h1>标题栏</h1>
      </div>
      <div nz-col [nzSpan]="8">
        <a routerLink="/session" routerLinkActive="active">会话</a>
        <a routerLink="/contact" routerLinkActive="active">联系人</a>
      </div>
      <div nz-col [nzSpan]="8">
        ABC
      </div>
    </div>
  </header>
  <section class="layout-body">
    <router-outlet></router-outlet>
  </section>
</div>
