[[layout '../shared/layout']]
<!---->
[[section 'header']]
<link rel="stylesheet" href="static/css/index-page.css" />
<!---->
[[/section]]
<!---->
[[section 'footer']]
<script src="static/js/index-page.js"></script>
[[/section]]
<div class="page-main">
  <!-- 主窗体 -->
  <div class="layui-layer layui-layer-page layui-box layui-layim layer-anim-02 chat-main">
    <div class="layui-layer-title" style="cursor: move;">​</div>
    <div class="layui-layer-content" style="height: 410px;">
      <div class="layui-layim-main">
        <div class="layui-layim-info">
          <div class="layui-layim-user">{{chatMain.user.nickname}}</div>
          <div class="layui-layim-status"><span class="layui-icon layim-status-online" layim-event="status" lay-type="show"></span>
            <ul class="layui-anim layim-menu-box">
              <li class="layim-this" layim-event="status" lay-type="online"><i class="layui-icon"></i><cite class="layui-icon layim-status-online"></cite>在线</li>
              <li layim-event="status" lay-type="hide"><i class="layui-icon"></i><cite class="layui-icon layim-status-hide"></cite>隐身</li>
            </ul>
          </div>
          <input class="layui-layim-remark" placeholder="编辑签名" v-model="chatMain.user.remark">
        </div>
        <ul class="layui-unselect layui-layim-tab">
          <li class="layui-icon" :class="{'layim-this': chatMain.tabName === 'friend'}" @click="chatMain.tabName = 'friend'" title="联系人"></li>
          <li class="layui-icon" :class="{'layim-this': chatMain.tabName === 'group'}" @click="chatMain.tabName = 'group'" title="群组"></li>
        </ul>
        <ul class="layui-unselect layim-tab-content layim-list-friend" :class="{'layui-show': chatMain.tabName === 'friend'}">
          <li>
            <h5>
              <i class="layui-icon"></i><span>我的好友</span><em>(<cite class="layim-count"> 1</cite>)</em>
            </h5>
            <ul class="layui-layim-list layui-show">
              <li>
                <img src="http://tp1.sinaimg.cn/1571889140/180/40030060651/1"><span>胖胖</span>
                <p>这些都是测试数据，实际使用请严格按照该格式返回</p>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="layui-unselect layim-tab-content" :class="{'layui-show': chatMain.tabName === 'group'}">
          <li>
            <ul class="layui-layim-list layim-list-group layui-show">
              <li>
                <img src="http://tva1.sinaimg.cn/crop.0.0.200.200.50/006q8Q6bjw8f20zsdem2mj305k05kdfw.jpg">
                <span>吃货</span>
                <p></p>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="layui-unselect layui-layim-tool">
          <li class="layui-icon layim-tool-about" layim-event="about" title="关于"></li>
        </ul>
      </div>
    </div>
    <span class="layui-layer-setwin">
      <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
    </span>
  </div>
  <!-- 对话窗体 -->
  <div class="layui-layer layui-layer-page layui-box layui-layim-chat layer-anim chat-box-main">
    <div class="layui-layer-title" style="cursor: move;">​</div>
    <ul class="layui-unselect layim-chat-list">
      <li v-for="user in onlineUserList">
        <img :src="user.avatorUrl">
        <span>{{user.nickname}}</span>
      </li>
    </ul>
    <div class="layui-layer-content">
      <div class="layim-chat-box">
        <div class="layim-chat layim-chat-friend layui-show">
          <div class="layui-unselect layim-chat-title">
            <div class="layim-chat-other"><img :src="chatMain.user.avatorUrl">
              <span class="layim-chat-username"> {{ chatMain.user.nickname }} </span>
              <p class="layim-chat-status"></p>
            </div>
          </div>
          <div class="layim-chat-main">
            <ul>
              <template v-for="msg in msgList">
                <li class="layim-chat-system" v-if="msg.type === 'system'"><span>{{msg.content}}</span></li>
                <li class="layim-chat-mine" v-else-if="msg.type === 'mine'">
                  <div class="layim-chat-user"><img :src="msg.user.avatorUrl"><cite><i>{{msg.date}}</i>{{msg.user.nickname}}</cite></div>
                  <div class="layim-chat-text">{{msg.content}}</div>
                </li>
                <li v-else>
                  <div class="layim-chat-user"><img :src="msg.user.avatorUrl"><cite>{{msg.user.nickname}}<i>{{msg.date}}</i></cite></div>
                  <div class="layim-chat-text">{{msg.content}}</div>
                </li>
              </template>
            </ul>
          </div>
          <div class="layim-chat-footer">
            <div class="layui-unselect layim-chat-tool">
              <span class="layui-icon layim-tool-face" title="选择表情"></span>
              <span class="layui-icon layim-tool-image" title="上传图片"><input type="file" name="file"></span>
              <span class="layui-icon layim-tool-image" title="发送文件"><input type="file" name="file"></span>
              <span class="layui-icon layim-tool-code" title="代码"></span>
              <span class="layim-tool-log"><i class="layui-icon"></i>聊天记录</span>
            </div>
            <div class="layim-chat-textarea"><textarea v-model="inputMessage" @keypress.enter="sendMessage()"></textarea></div>
            <div class="layim-chat-bottom">
              <div class="layim-chat-send">
                <span class="layim-btn layim-btn-primary" @click="clearMsgList()">清空聊天记录</span>
                <span class="layim-send-btn" @click="sendMessage()">发送</span>
                <span class="layim-send-set"><em class="layui-edge"></em></span>
                <ul class="layui-anim layim-menu-box">
                  <li class="layim-this"><i class="layui-icon"></i>按Enter键发送消息</li>
                  <li><i class="layui-icon"></i>按Ctrl+Enter键发送消息</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="layui-layer-setwin">
      <!--<a class="layui-layer-min" href="javascript:;"><cite></cite></a>
      <a class="layui-layer-ico layui-layer-max" href="javascript:;"></a>
      <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>-->
    </span>
    <span class="layui-layer-resize"></span>
  </div>
</div>
