<div class="container login-page">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        Login
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Username</span>
            <input type="text" class="form-control" placeholder="Enter your account name" ng-model="login.user.username" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" class="form-control" placeholder="Enter your password" ng-model="login.user.password" required>
          </div>
        </div>
        <div class="form-group">
          <label><input type="checkbox" ng-model="login.remember"> Remember Username</label>
        </div>
        <div class="form-group">
          <button class="btn btn-danger btn-block" ng-click="login.doLogin();">Login</button>
        </div>
        <div class="form-group">
          <div class="pull-right">
            <a href="#">Register</a> |
            <a href="#">Forgot password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>