.login-page {
  margin-top: calc(50vh - 200px);
}

.login-page .input-group-addon {
  min-width: 100px;
}

.login-page input[type="checkbox"] {
  vertical-align: middle;
  margin-top: 0px;
  height: 14px;
}