<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>[[title]] :: Flying Chat</title>
  <link id="layuicss-laydatecss" rel="stylesheet" href="static/js/css/modules/laydate/laydate.css">
  <link id="layuicss-skinlayercss" rel="stylesheet" href="static/js/css/modules/layer/default/layer.css?v=3.0.11110">
  <link id="layuicss-skincodecss" rel="stylesheet" href="static/js/css/modules/code.css">
  <link rel="stylesheet" href="static/css/assets.css"> 
  [[renderSection 'header']]
</head>

<body>
  [[renderBody]]
  <script src="static/js/assets.js"></script>
  <script src="static/js/common.js"></script>
  [[renderSection 'footer']]
</body>

</html>
